@model IEnumerable<hotel_santa_ursula_II.Models.Habitaciones>

@{
  ViewData["Title"] = "Catalogo";
}

<head>
  <script src="https://kit.fontawesome.com/c239d89a06.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-------------------------------BANNER-------------------------------->
  <div class="hero-wrap hero-wrap-2"
    style="background-image: url('../images/banner1.jpg'); background-attachment:fixed; height: 200px;">
    <div class="overlay" style="height: 200px;"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true"
        style="height: 200px;">
        <div class="col-md-8 ftco-animate text-center">
          <h1 class="mb-3 bread">Habitaciones Disponibles</h1>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!-------------------------------BUSCAR-------------------------------->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" style="margin-left: 20%;">
        <input class="form-control me-2" style="width: 500px;" type="search" placeholder="Buscar" aria-label="Search"
          value="@ViewData["Getemployeedetails"]" name="Empsearch">
        <button class="btn btn-outline-warning" type="submit">Buscar</button>
        <a style="margin-left: 1%;" asp-action="Mostrar"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="35"
            fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
            <path fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
          </svg></a>
      </form>
    </div>
  </nav>
  <br>
  <br>
  <!-------------------------------------------------------------------->

  <div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model)
            {
              <div class="col-sm-4">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="card-img-actions">
                      <img class="img-responsive" width="250" height="180" src="@item.Imagen" alt="@item.Imagen" />
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="card-title">Número: @Html.DisplayFor(modelItem => item.numero)</h6>

                    <p class="card-text">
                    <h6>Por noche S/. @Html.DisplayFor(modelItem => item.precio)</h6>
                    </p>
                    <h6>Descripción:</h6>
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.descripcion))
                    <h6 class="card-text">Estado: @Html.DisplayFor(modelItem => item.Estado)</h6>
                    @if (item.Estado == "Ocupado")
                    {
                      <p class="btn btn-secondary">No disponible</p>
                    }
                    else
                    {
                      <a class="btn btn-warning" asp-action="Seleccionar" asp-route-id="@item.id"
                    onclick="return confirm('RESERVA AGREGADA')">Reservar</a>
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</body>