@model IEnumerable<hotel_santa_ursula_II.Models.Detallepedido>
@{
    Layout = "~/Views/Shared/_Impresion.cshtml";
    IEnumerable<hotel_santa_ursula_II.Models.Detallepedido> listProformas = new List<Detallepedido>();
    int total1=0;
    int totalf=0;
    string usuario="";
    DateTime fecha= new DateTime();
}

<head>  
   <script src="https://kit.fontawesome.com/c239d89a06.js" crossorigin="anonymous"></script>      
</head>

<body>

<!--Fin Banner-->
 @foreach (var item in Model){
    usuario=item.pedido.UserID;
    totalf=item.pedido.pago.MontoTotal;
 }
 
 
<div class="container">
    <center>
        <div class="col-sm-4">
            <img width="80%" src="~/images/nombre.png" />
            <br>
            <br>
        </div>        
   </center>

    <div class="col-sm-8 text-center">
            <h1>COMPROBANTE DE PAGO</h1>
            <br>
            <br>
        </div>
<h5>Usuario: @usuario</h5>
<h5> Fecha: 
<script>
    var f = new Date();
    document.write(f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear());
</script>
 </h5>
    <table class="table table-hover">
    <thead class="thead-dark">
             <tr>
                 <th scope="col">
                    @Html.DisplayNameFor(model => model.Habitaciones.Imagen)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Habitaciones.numero)
                </th>
               
                
                <th scope="col">
                    Noche:
                </th>
                <th scope="col">
                    Fecha:
                </th>
                <th scope="col">
                     @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th scope="col">
                    Subtotal
                </th>
                
                
        </tr>
    </thead>
    
	@foreach (var item in Model)
	{
        total1=item.Precio * item.Cantidad;
        //@if (item.Email == @User.Identity.Name)
        //{
            <tr>
          <td>
              <img class="img-responsive" width="200" height="150"
                       src="@item.Habitaciones.Imagen" alt="@item.Habitaciones.Imagen"  />
          </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitaciones.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitaciones.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            
            
            <td>
                 @total1
            </td>
            
            </tr>            
	}
    </tbody>    
</table>
 <p align="center" style="font-size: 200%;">Total S/. @totalf</p>



      
</body>
    