@model IEnumerable<hotel_santa_ursula_II.Models.Pago>
@{
    var count = 1;
}
<div class="container">
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                    <th scope="col">
                        №
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.FechaPago)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.NombreTarjeta)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.MontoTotal)
                    </th>
                    <th></th>
            </tr>
        </thead>

        <!-- actualizar la db para que lea las lineas de abajo -->
            <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @count
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTarjeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                
                <th scope="row">
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-success active" role="button">Editar</a> 
                    <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-success active" role="button" onclick="return confirm('Esta seguro que desea eliminar? : @item.Id ')">Eliminar</a>
                </th>
            </tr>
            count++;
        }        
        </tbody> 
    </table>
</div>

