@model IEnumerable<hotel_santa_ursula_II.Models.Reclamaciones>
@{
    var count = 1;
}
<head> 
   <script src="https://kit.fontawesome.com/c239d89a06.js" crossorigin="anonymous"></script>      
</head>

<body>
      <!--Inicio Banner-->
<div class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner1.jpg'); background-attachment:fixed; height: 200px;">
      <div class="overlay" style="height: 200px;" ></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height: 200px;">
           <div class="col-md-8 ftco-animate text-center">          
             <h1 class="mb-3 bread">Lista de Sugerencias o Reclamos</h1>
            </div>
          </div>
       </div>
</div>    
<br>
<br>
<!--Fin Banner-->
<div class="container">
    <p id="hora"></p>
    <!--<a class="btn btn-success float-right" role="button" asp-action="Crear">Registrar</a><br>-->
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                    <th scope="col">
                        №
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Dni)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nombres)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.N_Celular)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th scope="col">
                        
                        @Html.DisplayNameFor(model => model.Reclamo)
                    </th>
                    
            </tr>
        </thead>

        <!-- actualizar la db para que lea las lineas de abajo -->
            <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @count
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.N_Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    
                   @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Reclamo))
                </td>              
    
            </tr>
            count++;
        }        
        </tbody> 
    </table>
</div>
</body>

