@model IEnumerable<hotel_santa_ursula_II.Models.Usuario>
@{
        ViewData["Title"] = "Usuario";
 }

    <h1 class="informacion">Mi informacion</h1>
    <p>
        <a asp-action="Registrar">Registrar</a>
    </p>
    <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.razonsocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="btn btn-dark" asp-action="Editar" asp-route-id="@item.id">Editar</a>            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonsocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>    

        </tr>
}
    </tbody>
</table>